table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  background: #ffffff;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.detail-h1 {
  text-align: center;
  font-weight: 300;
}