.card-favs-h1 {
    text-align: center;
    font-weight: 300;
}

#x {
    fill:#000000;
}

#removeFav {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#removeFav:hover {
    opacity: 80%;
}
